# Application
VITE_APP_TITLE=Pix Space

# API Base URL
VITE_APP_API_BASE_URL=http://localhost:8080

# Data source switch for pages (mock/api)
VITE_USE_MOCK_DATA=true

VITE_GITHUB_PAGES=false

# Real backend mode example
# VITE_USE_MOCK_DATA=false
# VITE_APP_API_BASE_URL=http://localhost:8080
